# Node modules
node_modules/

# Environment variables
.env

# Uploaded files (optional — if you don't want to track them in Git)
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build artifacts (if any)
dist/
build/

# Optional: lock files if using only one package manager
 yarn.
 yarn.lock